body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Bingenjoy new color codes */

.lightest-back {
  background-color: #F1E9FE!important;
}

.lighter-back {
  background-color: #E9DCFF!important;
}

.dark-back {
  background-color: #4000BC !important;
}

.light-back {
  background-color: #9D4DFF !important;
}

.lightdark-back {
  background: linear-gradient(45deg, #C69FF4, #C69FF4)!important;
}

.gradient45 {
  background: linear-gradient(45deg, #FFFAFB, #C69FF4)!important;
}

.gradient135 {
  background: linear-gradient(45deg, #C69FF4, #FFFAFB)!important;
}

.gradientright {
  background: linear-gradient(to right, #FFFAFB, #C69FF4)!important;
}

.gradientleft {
  background: linear-gradient(to left, #FFFAFB, #C69FF4)!important;
}

.gradientdark {
  background: linear-gradient(to right, #FFFAFB, #BEBEBE)!important;
}

.dark-text {
  color: #330C5F!important;
}

.light-text {
  color: #40008C!important;
}

/* Improve focus styles for accessibility */
*:focus {
  outline: none !important;
  box-shadow: none !important;
  /* box-shadow: 0 0 0 2px rgba(25, 118, 210, 0.5); */
  /* Blue focus ring */
  border-radius: 4px;
}
